body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaDcvUmwNzqNZAEILuATmAdai5neHyqpV4RQCioBB5Aluv15Me16XaGcAN&s=10');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
    text-align: center;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
