body{
    background-image: url('https://www.google.com/search?q=negr%C3%A3o+guloso&client=ms-android-samsung-ss&hs=IJoV&sca_esv=09b710bfc1b67cec&udm=2&biw=384&bih=732&sxsrf=APpeQnurHSSMnmtpMOJk92lTr25yZ1SP3g%3A1787185675114&ei=C0qGav_JBue15OUP8vn5sAw&oq=negr%C3%A3o+guloso&gs_lp=EhJtb2JpbGUtZ3dzLXdpei1pbWciDm5lZ3LDo28gZ3Vsb3NvSJQXUIUKWOoTcAB4AJABAJgByAGgAdQKqgEFMC43LjG4AQPIAQD4AQGYAgSgAs4FwgIGEAAYBxgewgIFEAAYgATCAgoQLhiABBiKBRhDwgIFEC4YgATCAgsQLhiABBjHARivAcICBBAAGB7CAgYQABgFGB6YAwCIBgGSBwMwLjSgB8EXsgcDMC40uAfOBcIHBTItMS4zyAcrgAgB&sclient=mobile-gws-wiz-img#sv=https://www.google.com/search?q=negr%C3%A3o+guloso&client=ms-android-samsung-ss&hs=IJoV&sca_esv=09b710bfc1b67cec&udm=2&biw=384&bih=732&sxsrf=APpeQnurHSSMnmtpMOJk92lTr25yZ1SP3g%3A1787185675114&ei=C0qGav_JBue15OUP8vn5sAw&oq=negr%C3%A3o+guloso&gs_lp=EhJtb2JpbGUtZ3dzLXdpei1pbWciDm5lZ3LDo28gZ3Vsb3NvSJQXUIUKWOoTcAB4AJABAJgByAGgAdQKqgEFMC43LjG4AQPIAQD4AQGYAgSgAs4FwgIGEAAYBxgewgIFEAAYgATCAgoQLhiABBiKBRhDwgIFEC4YgATCAgsQLhiABBjHARivAcICBBAAGB7CAgYQABgFGB6YAwCIBgGSBwMwLjSgB8EXsgcDMC40uAfOBcIHBTItMS4zyAcrgAgB&sclient=mobile-gws-wiz-img#sv=CAMSVxoyKhBlLTlyMlVPV2d1bld5V3hNMg45cjJVT1dndW5XeVd4TToOWEpFcW1vbnIyRjhtdk0gBCoXCgFzEhBlLTlyMlVPV2d1bld5V3hNGAEwAUoECAEQAhgHIIyD9jdKCBACGAEgAigB');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
    text-align: center;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
